$colorbakground:rgb(255, 255, 255);
$colorFooter:rgb(109, 119, 146);
$fontBlack:black;
$collectionColor: rgb(82, 99, 124);
body {
    padding: 0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
    color:$fontBlack ;
    background-color: $colorbakground;

}

%grid{
    display: grid;
    grid-row-gap: 30px; 
    background-color:$colorbakground;
    width:90vw;
    grid-row-gap: 20px;
    margin: auto;
}


.home{
    max-width: 90%;
    margin: auto;
}
.grid {
    @extend %grid;
    grid-template-columns:  auto ;
}

.img-box{
    width: 40%;
    float: left;

}

.gridIteam-img{
    width: 90%;
    height: 350px;
    max-width: 500px;
    margin: auto;
 
  }
.contact {

    margin: 30px 0  0 30px;
    width: 40%;
    float: left;
    color: $fontBlack;

}


.cotgry{
    margin-top: 20px;
    background-color:$collectionColor;
    color:$colorbakground;
    padding: 10px;

}

.listin-img {
    width: 100%;
    max-height: 500px;
}
.listin-contact {

    margin-top: 10px;


}


.listing{
    max-width:900px; 
    width: 80%;
    margin:auto;
}
 
.clearBoth{
    clear: both;
}

.containerBox {
    position: relative;
    text-align: center;
    color:$colorbakground
  }

.top-left {
    position: absolute;
    top:18px;
    left: 16px;
  }
.hr{
    border-bottom:  2px solid $colorFooter;
}



.continer{
    @extend %grid;
    grid-column-gap: 20px; 
    grid-template-columns:  auto auto auto  ;
   

}
.continer-iteam{
    background-color:$collectionColor ;
    font-size: large;
    color: $colorbakground;
    padding: 30px 5px;
    border-radius: 50%;
    max-width: 250px;
    text-align: center;
}


@media screen and (max-width: 972px) {
     .contact, .listin-contact  .listing {
      width: 90%; }
    .contact{
        margin-left: 0;
    }

    .gridIteam-img ,.img-box ,.contact {
        width: 100%;
        max-width: 100%;
    }
    .continer-iteam{
        font-size: small;
    }
    


  }