$colorbakground:rgb(255, 255, 255);
$colorFooter:rgb(87, 87, 87);
body {
    padding: 0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;

}

%grid{
    display: grid;
    grid-template-columns:  auto ;
    grid-column-gap: 20px; 
    background-color:$colorbakground;
    width:90%;
    grid-row-gap: 20px;
    margin: auto;

}
%gridIteam{
//    height: 500px;
   margin-bottom:20px;
  
}

.grid {
    @extend %grid;
  
}
.grid-item {
    @extend %gridIteam;
    
}

.gridIteam-img{
    float: left;
    max-width: 40%;
    width: 500px;
    height: 400px;
    max-height: 350px;
  }
.contact {
    // margin-left: 20px;
    margin-left: auto;

    width: 40%;
    float: right;

}
.listin-img ,.listin-contact {
    max-width: 70%;
    width: 900px;
    max-height: 500px; 
    margin-top: 10px;

}.listing{
    max-width:900px; 
    margin:auto;
}
 
.clearBoth{
    clear: both;
}



.hr{
    border-bottom:  2px solid $colorFooter;
}




.cotgry{
    background-color: rgb(49, 196, 241);
    color: white;
    padding: 10px;
}

.continer{
    display: grid;
    padding: 5px; 
    grid-column-gap: 20px; 
    grid-row-gap: 10px;
    grid-template-columns:  auto auto auto auto ;
   

}




@media screen and (max-width: 972px) {
    .gridIteam-img, .contact, .grid-item, .listin-img, .listin-contact {
      width: 100%;
      max-width: 100%;
      clear: both; }
  
    .grid-item {
      height: auto; }
  
    .listing{
      width: 90%;
    }
    
  }