
{% extends "auctions/layout.html" %}
{% block title %} New Listing{% endblock %}
{% block body %}

<div class="listing">
    {% comment %}  view any response  {% endcomment %}
    {% if error %}
    <p class="alert alert-warning">  {{error}} </p>
    {% endif%}
    {% if meesage %}
    <p class="alert alert-success">  {{meesage}}</p>
    {% endif%}
   
    
        <h2>Create Listing</h2>
{% comment %} creat listing  {% endcomment %}

<div class="listing">
    
    <form action="{% url 'Newlisting' %}" method="post">
        {% csrf_token %}
        <div class="form-group"> 
        {{ form }}
    </div>   
    <div class="form-group">
        <input class="form-control" type="ulr" name="url" placeholder="Image Url">
    </div>
    <div class="form-group">
        <select class="form-control" aria-label="category " name="category" required>
            <option value="null" selected>Select Category</option>
            <option value="Fashion">Fashion</option>
            <option value="Toys">Toys</option>
            <option value="Electronics">Electronics</option>
            <option value="Motors">Motors</option>
            <option value="Sports">Sports</option>
            <option value="Beauty">Beauty</option>
            <option value="Other">Other</option>
          </select>
    </div>

    <input class="btn btn-primary" type="submit" value="Create Listing">

    </form>
</div>      


{% endblock %}