{% extends "auctions/layout.html" %}

{% block body %}
<div class="m-3">
    <h2>Active Listings</h2>
</div>

{% comment %}  list box  {% endcomment %}
    <div class="grid" >
        {% for i in categorie_list  %}
            <div class= "gridIteam">
                <a href="{% url 'listing' i.id %}" title="view">
                {% comment %} img box  {% endcomment %}
                <img  class="gridIteam-img"  src="{{i.url}}"  alt="{{i.title}}" style="width:100%;">
             {% comment %} end image box {% endcomment %}
             {% comment %} content box{% endcomment %}
             <div class="contact ">
               <h2>{{i.title}} </h2>   
              <h4><b> Price : </b>
                {% if i.endAmont < i.amount  %}
                ${{i.amount}} 
                {% else %}
                ${{i.endAmont}} 
                {% endif%}
            </h4>
              <p> {{i.description}} </p>
              <h5 class="cotgry"> {{i.category}} </h5>
              </div>
              {% comment %} end contact box {% endcomment %}
            </a>
            </div>
                 {% comment %} end iteam box {% endcomment %}
        {% endfor %}
            </div>
{% endblock %}