{% extends "auctions/layout.html" %}
{% load static %}
{% block title %} Listing{% endblock %}

{% block body %}

<div class="listing">
  
  {% if categorie_list.status == "Close" %}
  {% if current %}
<p class="alert alert-info">  Won that auction   Mr/Mrs : {{current.user_bids|title}}, Final Price : $ {{current.Paid_amount}}  </p>
{% else %}
<p class="alert alert-info"> This listing Closed but no  bids on it. </p>
{% endif %}

  {% endif %}
  
  {% if request.user.id == categorie_list.user_id   %}
  {% if categorie_list.status == "open" %}

    <form action="{% url 'endPaid' %}" method="post">
      {% csrf_token %}
      <div class="float-right m-3">
        <input type="number" name="end_listId" value="{{categorie_list.id}}" hidden>
        <input class="btn btn-warning " type="submit" value="End Paid">
      </div>
     
    </form>

  {% endif %}
  <h2> Listing</h2>

  {% comment %} gird box show iteam {% endcomment %}


        {% comment %}end button for owner can end the list only {% endcomment %}
 
        {% endif %}
                  {% comment %} end for end button {% endcomment %}
        <div class="containerBox">
          {% if categorie_list.url == 'null'%}
          <img  class="listin-img"  src="{% static 'auctions/noimag.png' %}"  alt="{{categorie_list.title}}">

          {% else %}
       <img class="listin-img" src="{{categorie_list.url}}" alt="{{categorie_list.title}}">
 {% endif %}
        {% comment %} watch list button {% endcomment %}
        <div class="top-left">
        {% if user.is_authenticated %}
        {% if categorie_list.id in request.session.watchlist %}
       
          <form action="{% url 'Romvewatchlist' %}" method="post">
            {% csrf_token %}
            <input  type="number" name="RomveWatchlist" value="{{categorie_list.id}}" hidden>
            <input class="btn btn-success rounded-pill" type="submit" value=" Watchlist">
          </form>

        {% else %}

          <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input class="form-control" type="number" name="Watchlist" value="{{categorie_list.id}}" hidden>
            <input class="btn btn-warning rounded-pill" type="submit" value="Add Watchlist">
          </form>
        {% endif %}
        {% endif %}
        </div>
          </div>
                

    
      <div class="listin-contact">
        <h5>{{categorie_list.title}} </h5>
     
        <b> Price : 
          {% if current %}
          {% if categorie_list.amount > current.Paid_amount  %}
          $ {{categorie_list.amount}} 
          {% else %}
          $ {{current.Paid_amount}} 
          {% endif%}
          {% else %}
          $ {{categorie_list.amount}} 
          {% endif%}
        </b>
          <div class="mt-5 ">
           
            <b class="list-group">  Datiles </b>

        <url class="list-group border-0">       
          <li class="list-group-item  border-0">Listid by : <a href="#">{{ categorie_list.user|title}} <a/>  </li>
          <li class="list-group-item border-0"> Catgery : {{categorie_list.category}}  </li>
          <li class="list-group-item border-0">  Created  {{categorie_list.created_at}}  </li>
          <li class="list-group-item border-0">  Status : {{ categorie_list.status|title}}   </li>
       
          <url>
            <p class="float-right">Last Update  {{categorie_list.updated_at}} </p>
           
          </div>

    </div>





    {% comment %} error masseage box {% endcomment %}
  {% if messages %}
  
  {% for message in messages %}
  {{ message|safe }}

  {% endfor %}

{% endif %}

  {% comment %} confiarm user login {% endcomment %}
  {% if user.is_authenticated %}

  {% comment %} confiarm list open our not {% endcomment %}
  {% if categorie_list.status == "open" %}
  {{ Toatal_Baid|length }}  bid(s) so far . current bid for {{ current.user_bids}}
  {% if request.user.id != categorie_list.user_id %}
  {% comment %} addd paid oofer only for login and and open iteam & not for owner {% endcomment %}

  <div id="paid">
    <form action="{% url 'paid' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control " type="number" name="paid_userId" value="{{ request.user.id}}" hidden>
        <input class="form-control" type="number" name="paid_listId" value="{{categorie_list.id}}" hidden>
        <input class="form-control" autofocus type="number" name="amount" placeholder="Amount" required>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Paid">
      </div>
    </form>
  </div>
  {% else %}
  <p class="alert alert-info">Owner Can't auctioneer in his list <p>

  {% endif %}

  {% comment %} end paid oofer {% endcomment %}

  {% comment %} add comment for open list only {% endcomment %}
  <h5 class="hr ">Add  Commente </h5>
  <div>
    <form action="{% url 'comment' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="number" name="userId" value="{{ request.user.id}}" hidden>
        <input class="form-control" type="number" name="listId" value="{{categorie_list.id}}" hidden>
        <input class="form-control" type="text" name="title" placeholder="Title" required>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Comment </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" required></textarea>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Comment">
      </div>
    </form>
  </div>
  {% comment %} end comment {% endcomment %}
  {% else %}

  {% comment %} masseg for close iteam {% endcomment %}

    <h5 class="alert-danger p-2">This List already close </h5>


  {% endif %}


  {% comment %} if user not login {% endcomment %}

  {% else %}
  <p class="alert alert-info"> <a href="{% url 'login' %}">login</a>  To Add comment or Paid </p>
  {% endif %}

  {% comment %} thro all comments {% endcomment %}

  <div>
    <h5 class="hr "> Commentes </h5>
{% if  Comment %}
    {% for i in Comment%}
    <div class="alert alert-info   ">
    <h5>{{i.title}} </h5>
    <p> {{i.comment}} </p>
     <p>  Add By : <a href="#">{{i.user|title}} </a> <span class="float-right">    Creat at : {{i.Comment_at}} </span> </p>
    </div>
  
    {% endfor %}
    {% else %}
    <p class="alert alert-warning">No any comments on this list  </p>

    {% endif %}


</div>

  {% endblock %}